.headerWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #42b258;;
}
.headerMain {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.headerButton {
  font-weight: bold;
  margin: 1rem;
  .headerNav {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
  }
  :hover {
    cursor: pointer;
    border-radius: 0.1rem;
    background-color: white;
    color: #282c34;
  }
}
.mainContainerWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.mainContainer {
  display: flex;
}
.leftCorrectionBlock {
  width: 5%;
}
.rightCorrectionBlock {
  width: 5%;
}
.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fastEditing {
  display: flex;
  flex-direction: column;
  width: 30%;
}